.hero-wrapper {
  width: 100%;
  padding: 36px;
  box-sizing: border-box;
}

.hero-column {
  display: flex;
  flex-direction: column;
  max-width: 600px;
  margin: 0 auto;
}

.flex-row.hero {
  justify-content: center;
  align-items: center;
}

.value-prop {
  margin: 0 0 36px 0;
}