
.lazy-load {
  background-color: #fff;
}

.lazy-load > .spinner {
  width: 70px;
  text-align: center;
}

.lazy-load > .spinner {
  margin: 60px auto;
}

.spinner > div {
  width: 18px;
  height: 18px;
  border-radius: 100%;
  display: inline-block;
  animation: sk-bouncedelay 1.4s infinite ease-in-out both;
}

.lazy-load > .spinner > div {
  background-color: #333;
}

.card-header-right .spinner > div {
  background-color: #BDC3C7;
  width: 10px;
  height: 10px;
  margin-right: 5px;
}


.card-header-right .spinner > div:nth-child(3) {
  margin-right: -20px;
}

.spinner .bounce1 {
  animation-delay: -0.32s;
}

.spinner .bounce2 {
  animation-delay: -0.16s;
}

@-webkit-keyframes sk-bouncedelay {
  0%, 80%, 100% { -webkit-transform: scale(0) }
  40% { -webkit-transform: scale(1.0) }
}

@keyframes sk-bouncedelay {
  0%, 80%, 100% { 
    -webkit-transform: scale(0);
    transform: scale(0);
  } 40% { 
    -webkit-transform: scale(1.0);
    transform: scale(1.0);
  }
}